* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
       background-color:rgb(230, 224, 217)
}

.header {
    background-color: #3e2f29;
    width: 100%;
 
}

.top-bar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.news-search {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.news-search a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-right: 20px;
}

.news-search a:hover {
    text-decoration: underline;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    height: 28px;
    padding: 5px;
    margin-right: 5px;
}

.search-box button {
    height: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    height: 16px;
    margin-right: 5px;
}

.menu-background {
    width: 100%;
   
}

.pic {
    width: 100%;
    height: 400px; 
    background-image: url("Snimki/background5.jpg");
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
     padding-bottom: 40px;
}
.menu-background {
    width: 100%;
   
}
.menu {
    background: black;
    height: 50px;
    background-color: #3e2f29;
}

.menu-1 {
    display: flex;
    list-style: none;
}
.menu-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    margin-left: 40px;
    border: 2px solid transparent;

}

.menu-link:hover {
    border-color: white;
    color:#3e2f29;
    background-color: white;
    border-radius: 10px;
}
.pytuvaniq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.pytuvane-box {
    padding: 20px 50px;
   
}

.image-wrapper {
    position: relative;
    display: inline-block;
}
.Galeriq-title{
   text-align: center;
   padding-top: 30px;
}
.title-gal{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pytuvane-pic {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.container{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
margin-top: 20px;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 40px;
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ;
    border-radius: 0 0 10px 10px;
}

.image-wrapper:hover .title {
    opacity: 1;
}
.pytuvane-box:hover{
      cursor: pointer;
}
.site-footer{
    background-color: #1f1f1f;
    color: #eaeaea;
    padding: 40px 20px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}
.tekst-background{
left: 50%;
color: white;
 padding-top: 10%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding-left: 50px;
font-size: 250%;
border: shadowed 2px solid white;
text-align: center;

}

.site-footer {
    background-color: #1f1f1f;
    color: #eaeaea;
    padding: 40px 20px 20px;
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    flex-shrink: 0;
}

.footer-cont {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0 0 20px;
    flex-wrap: wrap;
}

.footer-cont a {
    color: #eaeaea;
    text-decoration: none;
    font-size: 15px;
}

.footer-cont a:hover {
    color: #4da3ff;
}

.socialni-mreji {
    display: flex;
    gap: 10px;
    margin-top: 5px;

}
.fa {
  font-size: 60px;
 
}

